body{
    margin: 0%;
    padding: 0%;
    font-family:'poppins',sans-serif;
    background-color: FFFDF0;
    font-family: var(--poppins);
}

.box{
    width: 40vh;
    height: 40vh;
    /* margin-top: 10vh; */
    text-align: left;
    background-color: #D3D7D6;
    display: inline-block;
    margin-left: 20vh;
    border-radius: 10%;

}

.icon{
    width:20vh;
}





.title {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left:25px;
  }

.box-info{
    display: inline;
    /* align-items: start; */
}

h2{
    margin-left:25px;
}

h1{
    color:#FDC801;
    margin-left: 4%;
}

.footer{
    width:100%;
    background-color: #99C9C1;
    flex-direction: row;
    margin-top: 2%;
    padding-top: 50px;
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
}
.footer-left{
    float:left;
    width:30%;
    margin-left: 5%;
    font-size: 18px;
    color: white;
}
.footer-left img{
    width:13%;
    height:20%;
    border-radius: 50px;
}
.footer-left h2{
    color:black;
    margin-bottom: 1%;
}
.footer-right{
    float:right;
    width: 30%;
    margin-right: 20%;
}
.footer-right h2{
    margin-top: 3%;
    margin-left: 0%;
}
.footer-right a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}
.fagolink p{
   font-size: 18px;
   font-weight: bold;
   float:right; 
   margin-top: 50px;
   margin-right: 40px;
}
.socialmedia img{
    width: 20%;
    height: 7%;
    margin-right: 1%;
}
.socialmedia{
    float: left;
}
#map {
    height: 400px;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
}
.marker-label {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}