.para{
    font-size:25px;
    margin:30px;
    flex:70%
}
.litro{
    font-size:20px;
    margin:30px;
    background-color: blue;
    flex:25%;
}
.laugh{
    font-size:20px;
    margin:30px;
    background-color:yellow;
    flex:25%;
}
.fuel{
    font-size:20px;
    margin:30px;
    background-color:maroon;
    flex:25%;
}
button{
    margin: 30px;
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.btn{
    float: right;
    width: 20%;
    margin-top: 0;
    flex:30%;
    margin-left:25%;
}
.up{
    display: flex;
}
.down{
    display:flex;
}
.litroimg{
    width:80%;
    height:70%;
    padding: 20px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.litro button, .laugh button, .fuel button{
    margin-left: 23%;
}