body{
    margin:0%;
    background-color: #fffdf0;
}
.sidebar{
    margin-bottom: 5px;
    margin-top: 40px;
    width: 20%;
    padding: 20px;
    font-size: 20px;
    float: left;
    height: 100%;
}
.left1 button, .left2 button{
    background-color: white;
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.left1 button{
    background-color:#a6abe1;
}
.left2 button:hover{
    background-color: #9AE298;
}
.left1 p, .left2 p{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.left1-1, .left2-1{
    margin-top: 0px;
    width: 30%;
    float: left;
}
.left a{
    text-decoration: none;
    color: black;
}
.left1-1 img, .left2-1 img{
    width: 50%;
    height: 50%;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
    margin-left: 5px;
    margin-bottom: 2px;
}

.right{
    width:75%;
    float:right;
}
.right .welcome{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 55px;
}
.right .data{
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    margin: 20px;
    margin-top: 0;
    margin-right: 40px;
    border-radius: 20px;
    padding-left: 60px;

}
.right .data img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
}
.b2, .b4{
    width: 200px;
    float: right;
    height:50px;
    margin-right: 20px;
    border-radius: 20px;
}
.b2{
    background-color:#4E60FF;
    border:blue 2px solid;
}
.b4{
    background-color: #9AE298;
    border:green 2px solid;
}
    
.b2:hover, .b4:hover, .cp:hover, .cu:hover{
    background-color: green;
}
.details label{
    padding-left: 5px;
    font-size: 20px;
}
.up{
    display: flex;
    margin-bottom: 20px;
}
.image{
    width: auto;
    height: auto;
}
.b3{
    margin-left:30px;
    margin-top: 50px;
}
.down{
    display: flex;
}
.down1{
    flex:50%;
}
.down1 button{
    font-size: 15px;
    border-radius: 20px;
    width: 230px;
    height: 40px;
}
.cp{
    background-color:#4E60FF;
    border: blue 2px solid;
}
.cu{
    background-color: #AADBAA;
    border: green 2px solid;
}
.down1 p{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 450px;
    height: 30px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
}
.down2{
   margin-right: 34px;
}
.down2 p{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 319px;
    height: 30px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
}
.b5{
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 35px;
    background-color: red;
    border-radius: 20px;

}
.b5:hover{
    background-color: pink;
}