body{
    margin:0%;
    background-color: #fffdf0;
}
.sidebar{
    margin-bottom: 5px;
    margin-top: 40px;
    width: 20%;
    padding: 20px;
    font-size: 20px;
    float: left;
    height: 100%;
}
.left1 button, .left2 button{
    background-color: white;
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.left2 button:hover,.left1 button:hover{
    background-color: #9AE298;
}
.left1 p, .left2 p{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.left1-1, .left2-1{
    margin-top: 0px;
    width: 30%;
    float: left;
}
.left a{
    text-decoration: none;
    color: black;
}
.left1-1 img, .left2-1 img{
    width: 50%;
    height: 50%;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
    margin-left: 5px;
    margin-bottom: 2px;
}

.right{
    width:75%;
    float:right;
}
.right .welcome{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 55px;
}
.right .data{
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    margin: 20px;
    margin-top: 0;
    margin-right: 40px;
    border-radius: 20px;
    padding-left: 60px;

}
.right .data img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
}
.b2, .b4{
    width: 200px;
    float: right;
    height:50px;
    margin-right: 20px;
    border-radius: 20px;
}
.b2{
    background-color:#4E60FF;
    border:blue 2px solid;
}
.b4{
    background-color: #9AE298;
    border:green 2px solid;
}
    
.b2:hover, .b4:hover, .cp:hover, .cu:hover{
    background-color: green;
}
.details label{
    padding-left: 5px;
    font-size: 20px;
}
.up{
    display: flex;
    margin-bottom: 20px;
}
.image{
    width: auto;
    height: auto;
}
.b3{
    margin-left:30px;
    margin-top: 50px;
}
.down{
    display: flex;
}
.down1{
    flex:50%;
}
.down1 button{
    font-size: 15px;
    border-radius: 20px;
    width: 230px;
    height: 40px;
}
.cp{
    background-color:#4E60FF;
    border: blue 2px solid;
}

.down1 input{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 450px;
    height: 35px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
    margin-bottom: 20px;
}
.down2{
   margin-right: 34px;
}
.down2 input{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 319px;
    height: 35px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
}
.b5{
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 35px;
    background-color: red;
    border-radius: 20px;

}
.b6{
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 35px;
    background-color: #9AE298;
    border-radius: 20px;
}
.b5:hover, .b6:hover{
    background-color: green;
}
.b5:hover{
    background-color: pink;
}
.heading{
    text-align: center;
    font-size: 20px;
    margin-bottom:0px;
}
.review-form{
    background-color: white;
    width: 50%;
    float:right;
    padding: 20px;
    margin: 20px;
    margin-top: 0%;
    margin-right: 100px;
    padding-left: 120px;
    border-radius: 20px;
    height: 70%;
}
.cusname, .dpname, .date, .desc{
    font-size: 20px;
    margin-bottom: 0px;
    transform: translate(20%, 25%);
}
.cusname input, .dpname select , .date input, .desc textarea{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 30px;
}
.desc textarea{
    height: 100px;
}
.submitreview button{
    width: 200px;
    height: 40px;
    background-color: #4E60FF;
    border-radius: 20px;
    border: blue 2px solid;
    transform: translate(150%, 50%);
    margin-top: 40px;
}
.submitreview button:hover{
    background-color: green;
}
.ordertable{
    background-color: white;
    width: 50%;
    float:left;
    padding: 20px;
    padding-top: 30px;
    margin: 20px;
    margin-top: 0%;
    margin-left: 180px;
    padding-left: 50px;
    border-radius: 20px;
    height: 70%;
}
.ordertable table{
    width: 100%;
    border-collapse: collapse;
}
.ordertable th{
    font-weight: bold;
    color:black;
}
.ordertable td{
    color: gray;
}
.ordertable table td, .ordertable table th{
    border-bottom: black 1px solid;
    padding: 10px;
    text-align: left;
}
.ordertable table td a{
    text-decoration: none;
    color: black;
    border: green 1px solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #9AE298;
}
