*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0%;
    background-color: #fffdf0;
}
.sidebar{
    margin-bottom: 5px;
    margin-top: 30px;
    width: 20%;
    padding: 20px;
    font-size: 20px;
    float: left;
  
}
.dcontainer{
    display: flex;
    height: 83%;
}
.left1 button, .left2 button{
    background-color: white;
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.left2 button:hover,.left1 button:hover{
    background-color: #9AE298;
}
.left1 p, .left2 p{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.left1-1, .left2-1{
    margin-top: 0px;
    width: 30%;
    float: left;
}
.left a{
    text-decoration: none;
    color: black;
}
.left1-1 img, .left2-1 img{
    width: 50%;
    height: 50%;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
    margin-left: 5px;
    margin-bottom: 2px;
}

.right{
    width:75%;
    float:right;
}
.right .welcome{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 5px;
}
.right .welcome p{
    padding: 0%;
    margin: 0%;
    margin-top: 2px;
}
.right .data{
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.right .data img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
}
.b2, .b4{
    width: 100px;
    float: right;
    height:30px;
    margin-right: 20px;
    border-radius: 20px;
}
.b2{
    background-color:lightblue;
    border:blue 2px solid;
}
.b4{
    background-color: #9AE298;
    border:green 2px solid;
}
    
.b4:hover, .cu:hover{
    background-color: green;
}
.b2:hover, .cp:hover{
    background-color: #4E60FF;
}
.details label{
    padding-left: 5px;
    font-size: 20px;
}
.up{
    display: flex;
    margin-bottom: 20px;
}
.image{
    width: auto;
    height: auto;
}
.b3{
    margin-left:30px;
    margin-top: 40px;
}
.b3 .image{
    width: 200px;
    height: 40px;
    background-color: gray;
    color: cornsilk;
    margin: 5px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 0%;
}
.down{
    display: flex;
}
.down1{
    flex:50%;
}
.down1 button{
    font-size: 15px;
    border-radius: 20px;
    width: 230px;
    height: 40px;
}
.cp{
    background-color:lightblue;
    border: blue 2px solid;
}

.down1 input{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 450px;
    height: 35px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
    margin-bottom: 20px;
}
.down2{
   margin-right: 34px;
}
.down2 input{
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    width: 319px;
    height: 35px;
    text-align: center;
    margin-top: 0%;
    padding-top: 10px;
}
.b5{
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 35px;
    background-color: red;
    border-radius: 20px;
    margin-top: 30px;

}
.b6{
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 35px;
    background-color: #9AE298;
    border-radius: 20px;
    margin-top: 45px;
}
.b5:hover, .b6:hover{
    background-color: green;
}
.b5:hover{
    background-color: pink;
}
.heading{
    text-align: center;
    font-size: 20px;
    margin-bottom:0px;
}
.heading h1{
    margin-bottom: 10px;
    margin-left: 40%;
}
.review-con{
    display: flex;
    height: 83%;
}
.sidebar{
    float: left;
}
.review-form{
    background-color: white;
    float:right;
    padding: 20px;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 20px;
    width: 45%;
    margin-right: 8%;
    padding-left: 5px;
    height: 83%;
}
.view-reviews button{
    background-color: green;
    float:right;
    margin-top: 10%;
    border-radius: 20px;
    height:35px;
    width: 200px;
    border: #9AE298;
    font-size: 18px;
}
.view-reviews button:hover{
    background-color: #9AE298;
}
.cusname, .dpname, .date, .desc{
    font-size: 20px;
    margin-bottom: 0px;
    transform: translate(20%, 25%);
}
.cusname input, .dpname select , .date input, .desc textarea{
    width: 65%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 20px;
    padding-left: 10px;
}
.desc textarea{
    height: 50px;
}
.submitreview button{
    width: 200px;
    height: 40px;
    background-color: #4E60FF;
    border-radius: 20px;
    border: blue 2px solid;
    transform: translate(150%, 50%);
    margin-top: 40px;
}
.submitreview button:hover{
    background-color: green;
}
.ordertable{
    background-color: white;
    width: 100%;
    float:left;
    padding: 20px;
    padding-top: 30px;
    margin: 20px;
    margin-top: 0%;
    margin-left: 150px;
    padding-left: 50px;
    border-radius: 20px;
    height: 70%;
}
.ordertable table{
    width: 100%;
    border-collapse: collapse;
}
.ordertable th{
    font-weight: bold;
    color:black;
}
.ordertable td{
    color: gray;
}
.ordertable table td, .ordertable table th{
    border-bottom: black 1px solid;
    padding: 10px;
    text-align: left;
}
.ordertable table td a{
    text-decoration: none;
    color: black;
    border: green 1px solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #9AE298;
}
.active button{
    background-color: #babff7;
}
.cp a{
    text-decoration: none;
    color: black;
}
.cancelbtn, .deletebtn {
    width: 25%;   
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: green;
    color: black;
    float: left;
    margin-left: 20%;
    
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
    color: black;
    float: right;
    margin-right: 20%;

  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    left: 25%;
    top: 25%;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:#D9D9D9;
    padding-top: 50px;
    border-radius: 20px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
    height: 50%;
  }   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }
.review-details{
    float: right;
    width: 70%;
}  
.reviewtable{
    background-color: white;
    width: 80%; 
    margin-top: 3%;
    margin-left: 3%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    border-radius: 20px;
    float: right;
    margin-right: 20px;
    height: 90%;
}
.reviewtable table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.reviewtable th{
    font-weight: bold;
    color:black;
    text-align: left;
}
.reviewtable td{
    color: gray;
    word-wrap: break-word;
}
.reviewtable table td, .reviewtable table th{
    border-bottom: black 1px solid;
    padding: 10px;
    text-align: left;
}
.editbtn a{
    background-color:green;
    color:black;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    float: left;
    border:none;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.editbtn a:hover{
    background-color: #9AE298;
}
.rdeletebtn a{
    color:black;
    background-color: red;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    border:none;
    float: right;
    padding-top: 10px;
    font-size: 16px;
}
.rdeletebtn a:hover{
    background-color: lightcoral;
}
.editreview-form{
    width: 90%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 3%;
    padding-left: 80px;
    margin-left:10%;
}
.editreview-form h2{
    text-align:left;
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}
.editreview-form label{
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}
.editreview-form input, .editreview-form textarea, .editreview-form select{
    width: 80%;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 20px;
}
.editreview-form button{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35%;
    background-color: green;
    color: black;
    border: none;
}