.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #99C9C1; 

}
body{
    margin: 0;
}
.footer li h6 {
    display: block;
    color:rgb(86, 86, 86);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

.footer li img{
    
    width: auto;
    height: auto;
    height: 16px;
    width: 16px;
    margin-top: 15px;
    margin-left: 35px;
    float: left;
    padding: 10px;
    text-align: center;
    justify-content: center; 
   
}

.footer li h6{
    color: #FFFFFF;
}



