.contaner{
    width: 1525px;
    height: 737px;
    background-color: blue;
    
}

.top{
    width: 100%;
    height: 10%;
    background-color: seagreen;
}

.middle{
    width: 100%;
    height: 80%;
    background-color:rgb(234, 228, 223);
    
}

.bottom{
    width: 100%;
    height: 10%;
    background-color: seagreen;
} 




::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #c4bec4; 
    border-radius: 10px;
}

.social_media{
    background-color:transparent;
    width: 5%;
    height: 100%;
    float: left;
}

.social_media img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    mix-blend-mode: multiply;
}

.sentence{
    
    float: right;
    width: 25%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    display: flex;
}

.sentence>div{
    margin: auto;
}

.logo{
    float:left;
    width: 4%;
    height: 85%;
    background-image: url(images/logo.jpeg);
    border-radius: 50%;
    background-size: contain;
    margin-left: 5%;
    margin-block-start: 5px;
}

.part1{
    width: 100%;
    height: 70%;
    display: flex;
}

.part2{
    width: 100%;
    height: 30%;
    
    
}

.outter{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(76, 232, 59);
    display: flex;
}

.abc{
    margin-left: 46%;
    width: 8%;
    height: 20%;
    padding: 3px;
    border-radius: 10%;
    background-color:rgb(105, 112, 108) ;
    display: flex;
}

.outter h3 {
    margin: auto;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.abc a{
    text-align: center;
    justify-content: center;
    margin: auto;
 }
.part2 .abc:hover{
    background-color: rgb(76, 232, 59);
    color: black;
}  

