.contaner{
    width: 1535px;
    height: 739px;
   
}
.middle{
    width: 100%;
    height: 82%;
    background-color:#FFFDF0;
    display: flex;
}

::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #c4bec4; 
    border-radius: 10px;
}

.msg{
    width: 80%;
    height: 65%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.part1{
    width: 100%;
    height: 70%;
    display: flex;
   
}

.part2{
    width: 100%;
    height: 30%;
    
    
}

.outter{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
}

.abc{
    margin-top: 10px;
    margin-left: 46%;
    width: 8%;
    height: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(203, 205, 204) ;
    display: flex;
}

.outter h3 {
    margin: auto;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}
.abc a{
    text-align: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
 }
.part2 .abc:hover{
    background-color: rgb(76, 232, 59);
    color: black;
}  

