.outter{
    width: 1529px;
    height: 739px;
}

.container{
    display: flex;
    width: 100%;
    background-color: rgb(137, 126, 122);
    height: 83%;
}

.sidebar{
    height: 100%;
    width: 20%;
    background-color: #391f5a;
   
   
}
.dashboard{
    height: 100%;
    width: 80%;
    background-color: #FFFDF0;
    display: flex;
}

::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #c4bec4; 
    border-radius: 10px;
}
.btn{
    margin-left: 5%;
    border-radius: 10px;
    font-size: 36pt;
    display: flex;
    width: 90%;
    height: 10%;
    background-color:white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25%;
}
.Sidebar>div{
    margin-top: 25%;
}
.btn:hover{
    background-color: #B2B6E0;
}
.icon{
    background-color:transparent;
    width: 20%;
    height: 100%;
    
}

.name{
    width: 80%;
    height: 100%;
    display: flex;
}

.name h6{
    margin: auto;
    text-align: center;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.icon img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    mix-blend-mode: multiply;
}


.move{
    margin: auto;
    width: 20%;
    height: 15%;
    display: flex;
}

.discription{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
}

.discription>div{
    
   margin-top: 25px;
   margin-bottom: 15px;
   background-color:#D0D0D0;
   border-radius: 5px;
}

.discription>div:hover{
    background-color:#4E60FF;
}

.discription>div h5{
    text-align: center;
    font-size: small;
    font-family: 'Poppins', sans-serif;
}


.pic1{
    width: 50%;
    height: 100%;
    background-image: url(../images/AddFuelType_.jpg);
    background-size: contain;

}

.pic2{
    width: 50%;
    height: 100%;
    background-image: url(../images/viewFuelQuentity.jpg);
    background-size: contain;
}

.account_header{
    width: 100%;
    height: 100%;
}

.account_header h3{
    text-align: center;
    justify-content: center;
}

.Other_content{
    width: 50%;
    height: 50%;
    margin: auto;
    border: solid rgb(0, 0, 0);
    border-radius: 10%;
    
}

.Other_content h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}











