@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: var(--poppins);
    
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
}

body{
    background-color: FFFDF0;
    font-family: var(--poppins);
}

.box{
    width: 40vh;
    height: 40vh;
    /* margin-top: 10vh; */
    text-align: left;
    background-color: #D3D7D6;
    display: inline-block;
    margin-left: 20vh;
    border-radius: 10%;
    margin-bottom: 20px;

}

.icon{
    width:20vh;
}





.title {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left:25px;
  }

.box-info{
    display: inline;
    /* align-items: start; */
}

h2{
    margin-left:25px;
}

h1{
    color:black;
    font-size: 30px;
    font-weight: bold;
    
}

.content {
    margin-left: 20px;
}

.content li{
    margin-left: 30px;
}

.content h4{
    margin-left:120px ;
    font-size: 16px;
}

