body{
    margin: 0%;
    background-color: #fffdf0;
}

#container {
    width: 500px; 
    text-align: center;
    
    /* Optional Styling */
    padding: 50px;
    border-style: solid;
    border-color: #9FB3A9;
    border-radius: 20px;
    background-color: #CFD7CA;
   
  }