body{
    
    margin: 0%;
    
   
    
   
}
.image{
    height: 100%;
    width: 100%;
    background-image:url(../../images/gas4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: change 14s infinite ease-in-out;   
    margin-top: -.65%;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
   

}

.content{
    
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(84, 80, 80, 0.2);
    top: 50%;
    width: 50%;
    height: 56%;

    margin: 0 auto;
    margin-left: 35%;
    
    
    
    
   
    }
    
.content input{
    margin-left: 10%;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    width: 50%;
   
}

.content select{
    margin-left: 11.4%;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
   
}




.content button{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40%;
    font-weight: bold;
    width:20%;
    background: #4E60FF;
    border-radius: 20px;
    align-items: center;
    margin-top: 5%;

    
}

.content button:hover{
    background: #6EDC79;
    color:black;
}
.content h2{
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.box{
    padding:12px;
    width:90%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
    
}
.box1{
    padding:12px;
    width:45%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.box2{
    padding:12px;
    width:30%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.content-lable{
    content: black;
    
}

@keyframes animate{
    0%{
        background-image: url('../../images/gasnew.jpg');
    }

   
    20%{
        background-image: url('../../images/gas4.jpg');
    }
    20%{
        background-image: url('../../images/gas4.jpg');
    }
    

   
    40%{
        background-image: url('../../images/gas4.jpg');
    }

    60%{
        background-image: url('../../images/gas7.jpg');
    }
    

    
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-left: 30%;
    margin-top: 5%;
  
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #394166;
    color: white;
  }
  /*new  */



  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}

.topbar{
    position: fixed;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(217, 214, 214, 0.8);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr .4fr 1fr;
    align-items: center;
    z-index: 1;
}

.logo h2{
    color: rgb(96, 120, 181);
    
}
.search {
    position: relative;
    width:60%;
    justify-self: center;
   
    }

.search input {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;

}   

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;


}
.user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.sidebar{
    position: fixed;
    top:83px;
    width:18.5%;
    height: calc(100% - 60px);
    background:#171e3f;
    overflow-x:hidden ;
    padding-left: 20px;
    /* background-color: aquamarine; */
}


.sidebar ul {
        margin-top:20px;
        color: rgb(36, 20, 1);
}


.sidebar ul li {
    width: 100%;
    list-style: none;

}

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items:center;
    height:60px;
    margin-top: 16%;

}

.sidebar ul li a i {
    min-width:60px;
    font-size:20%;
    text-align: center;
}

.main{
    position: absolute;
    top: 77px;
    width:calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background:#f5f5f5;

}

.cards{
    width: 100%;
    padding: 35px 20px;
    display:flex;
    /*grid-template-columns: repeat(4,lfr);*/
    gap: 230px;
    
}

.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow:0 7px 25px 0 rgba(196, 196, 196, 0.8);

}

.number{
    font-size: 35px;
    font-weight: 500;
    color:  rgb(96, 120, 181);
}

.icon-box i{
    
    color:rgb(96, 120, 181);
}
.sidebar ul li  :hover{
    background:#343472;
    color: rgb(0, 0, 0);
}


.cards :hover{
    background:#d7d7da;
    
    
}
.left{
    float: left;
}
.left1 button, .left2 button{
    border-width: 1px;
    border-color: #d7d7da;
    background-color: white;
    margin-left: 10px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 10px;
    width: 137%;
    margin-top: 40px;
    /* margin-bottom: 10px; */
    padding-left: 32px;
}
.left2 button:hover,.left1 button:hover{
    background-color: #c9c5c5;
}
.left1 p, .left2 p{
    color: #5f6581;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 0%;
}
.left1-1, .left2-1{
    margin-top: 0px;
    width: 30%;
    float: left;
}
.left a{
    text-decoration: none;
    color: rgb(206, 206, 206);
}
.left1-1 img, .left2-1 img{
    width: 50%;
    height: 50%;
    margin-right: 5px;
    float: left;
    margin-left: 5px;
    margin-bottom: 2px;
    padding-left: 15px;
}
        

.gas_type{
    font-size: 137%;
}


.gas_type{
    font-size: 137%;
}
#errmsg{
    color: red;
    background-color: pink;
    margin: 10px;
    text-align: center;
}

body{
    margin: 0%;
    background-color: #fffdf0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color:black;
    font-size: 20px;
}

#container {
    width: 500px; 
    text-align: center;
    
    /* Optional Styling */
    padding: 50px;
    border-style: solid;
    /* border-color: rgb(177, 172, 172); */
    /* border-radius: 20px; */
    background-color: rgb(40, 40, 86);
    margin-top: 16%;
    margin-left: 40%;
    border-radius: 15px 50px 30px;
   
  }


