h1{
    text-align: center;
    font-size: 40px;
}
.back img{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    margin-top: 1%; 
}
.emptycart{
    text-align: center;
    margin-right: 6%;
}
.emptycart p{
    margin-left: 6%;
}
.emptycart button{
    height: 40px;
    border-radius: 20px;
    background-color: black; 
    color: white;
    border: none;
    margin-left: 10%;
    width: 150px;
}
.emptycart button:hover{
    font-size: 15px;
}
.emptycart a{
    text-decoration: none;
    color: white;
}
.emptycartimg img{
    margin-left: 38%;
}
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(230, 224, 224);
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}
.cart-item-left{
    float: left;
    width: 50%;
    margin-left: 5%;
    padding-top: 2%;
}
.cart-item-right{
    float: right;
    width: 50%;
    margin-right: 15%;
}
.cart-item-left label{
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
}
.remove{
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background-color: red;
    font-size: 18px;
    border:none;
    float: right;
    margin-right: 15%;
    margin-top: 12%;
    color: white;
}
.remove:hover{
    font-size: 19px;
}
.checkout{
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background-color: green;
    font-size: 18px;
    border:none;
    float: right;
    margin-right: 7%;
    margin-top: 12%;
    color: white;
}
.checkout:hover{
   font-size: 19px;
}
table{
    width: 60%;
    margin-top: 2%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 2%;
}
tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(230, 224, 224);
    margin-top: 2%;
    height: 50px;
}
td{
    text-align:left;
    font-size: 16px;
    padding: 2%;
    width: 25%;
}
.trash{
    margin-top: -2%;
    padding-top: 0%;
    width: 80px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
}
.trash:hover{
    font-size: 17px;
}
.edit{
    width: 80px;
    height: 25px;
    background-color: green;
    color: white;
    margin-top: -2%;
    border-radius: 20px;
    border: none;
}
.edit:hover{
    font-size: 17px;
}
.delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
}
.delivery-left{
    float: left;
    width: 25%;
    padding: 2%;
    background-color: aliceblue;
    margin-left: 12%;
    border-radius: 20px;
}
.delivery-right{
    float: right;
    width: 25%;
    padding: 2%;
    background-color: aliceblue;
    margin-right:28%;
    border-radius: 20px;
}
h2{
    margin-bottom: 0%;
    margin-left:10%
}
.address{
    border-radius: 15px;
    border: 1px solid black;
    width: 90%;
    height: 35%;
}
.total{
    margin-bottom:5%;
    margin-left: 40%;
    width: 75%;
}
.total tr{
    background-color: white;
    height:10px;
}
.last{
    display: flex;
    width: 80%;
    margin-bottom: 2%;
}
.total-left{
    float: left;
    width: 50%;
    margin-left: 12%;
}
.check{
    float: right;
    width: 40%;
}
.check button{
    height: 40px;
    border-radius: 20px;
    background-color: green; 
    color: white;
    border: none;
    margin-left:40%;
    margin-top: 10%;
    width: 50%;
}
.itemname{
    width:40%;
    margin-top: -10px;
}