.complain-form, .complain-table{
    float:right;
    padding: 5px;
    margin-top: 0%;
    border-radius: 20px;
    width: 60%;
    margin-right:15%;
    height: 80%;
}
.complain-form form{
    background-color: white;
    border-radius: 20px;
    height: 95%;
    width: 100%;
    padding: 10px;
    margin-left: 6%;
    margin-top: 2%;
}
.complain-form button{
    background-color: #79d37c;
    margin-top: 1%;
    border-radius: 20px;
    height:45px;
    width: 150px;
    border: #9AE298;
    font-size: 18px;
    font-weight:bold;
    margin-left: 45%;
}
.complain-form button:hover{
    font-size: 19px;
}
.complain-form input,.complain-form select, .complain-form textarea{
    width: 65%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 20%;
    padding-left: 10px;
}
.complain-form label{
    font-size: 20px;
    margin-left: 10px;
    padding-left: 18%;
}
.complain-form textarea{
    height: 200px;
    width: 65%;
    padding: 20px;
}
.complain-form h1{
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
}
.view-complains button{
    margin-left: 100%;
}
.complain-table{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    height: 70%;
    margin-right: 10%;
    padding: 20px;
}
.complain-table table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.complain-table th{
    font-weight: bold;
    color:black;
    text-align: left;
}
.complain-table td{
    color: gray;
    word-wrap: break-word;
}
.complain-table table td, .complain-table table th{
    border-bottom: black 1px solid;
    padding: 10px;
    text-align: left;
}
.complain-table button{
    background-color: #79d37c;
    margin-top: 1%;
    border-radius: 20px;
    height:30px;
    width: 80px;
    border: #9AE298;
    font-size: 18px;
    font-weight:bold;
    color: white;
}