*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
}
.para{
    font-size:25px;
    margin:30px;
    flex:80%
}
button{
    margin: 30px;
    margin-top: 0%;
    width: 60%;
    height: 50px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: green 1px solid;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: lightgreen;
    color: black;
}
.btn{
    float: right;
    width: 20%;
    margin-top:40px;
    flex:30%;
    margin-left:25%;
}
.up{
    display: flex;
    height: 15%;
}
.down{
    display: flex;
    width: 100%;
}
.gas,.fago_shop{
    float: left;
    /* background-color: #6989B5; */
    padding: 5px;
    padding-left: 5px;
    width: 50%;
    height: 100%;
}
.gas{
    margin-right: 5%;
}
.gas h2{
    margin: 0%;
    padding: 0%;
    padding-top: 10px;
    font-size: 40px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 0px;
}
.gas img{
    width: 70%;
    height: 70%;
    padding-top: 10px;
    margin-left: 8%;
}
#gas-shop{
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    
}
.gas_dropdown{
    display:block;
    width: 100%;
}
.gas_dropdown select{
    float: left;
    width: 40%;
}
.gas_dropdown button{
    float: right;
    width: 21%;
}
.fago_shop{
    float: right;
    margin-left: 10%;
}
.fago_shop h2{
    margin: 0%;
    padding: 0%;
    padding-top: 25px;
    font-size: 40px;
    
}
.fago_shop img{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 8%;
}
.gas_img{
    width: 40%;
    height: 60%;
    padding: 30px;
    padding-top: 10px;
}
#gas-type-selector{
   width: 65%;
   margin-left: 30px;
   padding: 10px;
   border-radius: 20px;
   font-size: 20px;
   font-weight: bold;
}