@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.rcontainer, .nodeliveryperson{
  position: relative;
  width: 450px;
  background: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  margin: 0 auto;
}
.rcontainer .post{
  display: none;
}
.rcontainer .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.rcontainer .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~  label:hover,
input:not(:checked) ~  label:hover ~ .item label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
} 
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "Very bad";
}
#rate-2:checked ~ form header:before{
  content: "Not bad";
}
#rate-3:checked ~ form header:before{
  content: "Good";
}
#rate-4:checked ~ form header:before{
  content: "Very good";
}
#rate-5:checked ~ form header:before{
  content: "Excellent";
}
form header{
  width: 100%;
  font-size: 25px;
  color: rgb(241, 218, 47);
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 95%;
  outline: none;
  color: black;
  border: 1px solid #333;
  background: white;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: black;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 95%;
  border:none;
  outline: none;
  background: #28a745;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  font-size: 18px;
}
.dpname{
    font-size: 20px;
    color: #666;
    margin-right: 20%;
    margin-bottom: 4%;
}
.dpname img{
    width: 60px;
    height: 60px;
    margin-left: 35%;
    margin-bottom: 2%;
    border-radius: 50%;
}
.nodeliveryperson{
  margin-top: 10%;
  width: 100%;
  padding: 10%;
  margin-left: 6%;
}
.nodeliveryperson p{
  font-size: 20px;
  font-weight: bold;
}
.reviewall{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1%;
}
.company_review{
  width: 50%;
  margin-left: -10%;
}
.company_review button{
  background-color: #79d37c;
  margin-top: 1%;
  border-radius: 20px;
  height:45px;
  width: 250px;
  border: #9AE298;
  font-size: 18px;
  font-weight: bold;
}
.view-reviews{
  width: 50%;
  margin-left: 85%;
  float: right;
}
.view-reviews button{
  float:right;
}
.cancel_contect input{
  width: 100%;
  height: 100px;
  border: 1px solid #333;
  background: white;
  padding: 10px;
  resize: none;
}
#cancel_popup{
  width:40%;
  margin-left: 40%;
}