*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
}
.para{
    font-size:25px;
    margin:30px;
    flex:80%
}
.litro{
    font-size:20px;
    margin:50px;
    background-color:#6989B5;
    flex:15%;
}
.laugh{
    font-size:20px;
    margin:50px;
    background-color:#FDC801;
    flex:15%;
}
.fuel{
    font-size:20px;
    margin:50px;
    background-color:maroon;
    flex:15%;
}
button{
    margin: 30px;
    margin-top: 0%;
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: green 1px solid;
    text-align: center;
}
button:hover{
    background-color: lightgreen;
    color: black;
}
.btn{
    float: right;
    width: 20%;
    margin-top:40px;
    flex:30%;
    margin-left:25%;
}
.up{
    display: flex;
}
.down{
    display:flex;
    margin-top: -70px;
}
.litroimg{
    width:70%;
    height:70%;
    padding: 40px;
    padding-top: 11%;
    padding-left: 15%
   
}
.litro button, .laugh button, .fuel button{
    margin-left: 23%;
}
.down{
    display: flex;
    padding-top: 10px;
}
.gas{
    float: left;
}
.gas h2{
    padding: 30px;
    padding-left: 50px;
    padding-right: 0px;
}
.fago_shop{
    float: right;
}
.gas_img{
    width: 40%;
    height: 60%;
    padding: 30px;
    padding-top: 10px;
}
#gas-type-selector{
   width: 45%;
   margin-left: 30px;
   padding: 10px;
   border-radius: 20px;
}