/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
*{
    
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
	/* background: #1c2d4d; */
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #10338e;
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color:white;
	position: sticky;
	top: 0;
	left: 0;
	background: #10338e;
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 75px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(black);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: #205d9a;
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
.logout{
	margin-top: 40%;
}
#sidebar ul li{
	margin-bottom: 5%;
}
/* SIDEBAR */

.header{
	float:right;
}



CONTENT
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	
}
.pagination{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 20px;
}
.pagination input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    color: blueviolet;
    background-color: white;
}
.type button{
	width:25%;
	color: #79d37c;
	border-radius: 10px;
	margin-left: 17%;
	margin-bottom: 2%;
	height: 6%;
	font-size: 18px;
	border: 2px solid #79d37c;	
	color: black;
	font-weight: bold;
}
.selected{
	background-color: #79d37c;
	color: white;
}
.viewdata{
	background-color: white;
	padding: 5%;
	width: 90%;
	border-radius: 20px;
	padding-top: 2%;
	padding-bottom: 10%;
}
.viewdata h2{
	text-align: center;
	font-size: 30px;
	color: navy;
}
.viewdata img{
	margin-top: 2%;
	text-align: center;
	margin-left: 42%;
	border-radius: 75px;
	width: 150px;
	height: 150px;
}
.view-profile{
	margin-top: 5%;
	width: 80%;
	font-size: 16px;
	margin-left: 30%;
}
.view-profile tr{
	height: 25px;
}
.view-profile tr td{
	padding: 5px;
}
.viewdata button{
	width: 20%;
	margin-right: 20%;
	margin-top: 5%;
	color: white;
}
#backgr{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;
	/* take this to front */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

}
#cancel_popup, #cancel_popup{
	position: fixed;
	/* background-color: rgba(0,0,0,0.5); */
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	float: left;
	margin-left: 45%;
	margin-top: 20%;
	background-color:white;
	padding: 3%;
}
#cancel_popup p, #cancel_popup p{
	font-size: 20px;
}
#cancel_popup button, #cancel_popup button{
	width: 20%;
	height: 30px;
	margin-left: 20%;
	margin-top: 2%;
	color: white;
	background-color: navy;
	border:none;
	border-radius: 10px;
}
#cancelbutton{
    border: none;
    color: black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#d47278;
    font-size: 17px;
    font-weight: bold;
}
#dcancelbutton{
	border: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(228, 200, 200);
    font-size: 17px;
    font-weight: bold;
}
.cancel-order{
	margin-top: 9%;
	background-color: white;
	margin-left: 30%;
	margin-right: 10%;
	height: 70%;
	padding-top:4%;
	border-radius: 20px;
}
.cancel-order img{
	margin-left: 45%;
	width: 150px;
	height: 150px;
}
.cancel-order h1{
	font-size: 37px;
	margin-left: 24%;
	margin-top: 2%;
	color: navy;
}
.cancel-order h2{
	font-size: 25px;
	color: navy;
	margin-left: 30%;
	margin-bottom:4% ;
}
.cancel-order a{
	margin-left: 45%;
	text-decoration: none;
	color: white;
	background-color: navy;
	padding: 20px;
	font-size: 18px;
	border-radius: 10px;
}
.cancel_header{
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 10%;
	height: 70%;
	padding-top:4%;
	border-radius: 20px;
}
.cancel_body{
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 10%;
	height: 70%;
	padding-top:4%;
	border-radius: 20px;
}
#complain_popup{
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
}
.complain_contect{
	/* position: absolute; */
	background-color: white;
	width: 30%;
	height: 20%;
	margin-left: 40%;
	margin-top: 18%;
	border-radius: 20px;
	padding: 3%;
	padding-top: 1%;
}
.complain_header{
	text-align: center;
	color: navy;
	font-size: 18px;
}
.complain_header a{
	text-decoration: none;
	color: navy;
	float: right;
	font-weight: 600;
}
.complain_body{
	margin-top: 5%;
	text-align: center;
	font-size: 18px;
}