/* body{
    background: var(--grey);
    overflow-x: hidden;

}
.order-success h1, .order-success h2{
    text-align: center;
}
.order-success h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.order-success h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.order-success h3, .order-success table{
    text-align: left;
    margin-top: 20px;
    margin-left: 37%;
    font-size: 20px;
}
.order-success table{
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}
 */
 body{
    background-color: #f2f0f0;
 }
 .order-success {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: white;
    margin-top: 3%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 60%;
    margin-left: 20%;
    border: 3px solid lightgreen;
  }
  img{
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }
  h1, h2, h3 {
    margin: 10px 0;
  }
  h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 23px;
    margin-bottom: 20px;
    color: navy;
  }

  h3{
    font-size: 18px;
    text-align: left;
    font-size: 20px;
    margin-left: 23%;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 54%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
  }
  
  th {
    background-color: #dddddd;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  button{
    width: 180px;
    height: 40px;
    background-color:green;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    font-size: 18px;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 4%;
  }
  .pay a{
    text-decoration: none;
    color: white;
  }