body{
   margin: 0;
   font-family: 'popins',sans-serif;
} 
.container{
 height:100%;
}
.para{
   background-color:navy;
   width: 70%;
   margin-top: 10%;
   color:white;
   margin-left: 15%;
   height: 40%;
}
.para h2{
   padding:30px;
   text-align:center;
   margin-top: 0%;
}
.para button{
  width: 120px;
  height: 50px;
  background-color:white;
  color:navy;
  margin-left:45%;
  font-size:20px;
  border:lightgreen;
  font-weight:bold;
  border-radius: 10px;
}
.para button:hover{
  font-size: 22px;
}
.para a{
  text-decoration:none;
}