
body{
    margin:0%;
    background-color: #fffdf0;
}
.form{
    background-color: white;
    width: 70%;
    height: 70%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
}
.pwdcontainer input{
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: black 1px solid;
    margin-left: 20px;
}
.pwdcontainer label{
    font-size: 20px;
    margin-bottom: 0px;
    text-align: left;
}
/* .btn{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.updatebtn{
    float:left;
    margin-right: 5%;
    background-color: green;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid green;
    color: white;
    /* font-size: 15px; */
    margin-top: 20px;
    margin-left: 20%;
}
.cancelbtn{
    float:right;
    background-color: red;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid red;
    color: white;
    /* font-size: 20px; */
    margin-top: -40px;
    margin-right: 20%;
}
.updatebtn:hover{
    background-color: #9AE298;
}
.cancelbtn:hover{
    background-color: lightcoral;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.err-msg{
    color: #ba3939;
    background: #ffe0e0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}
.success-msg{
    color: green;
    font-size: 20px;
    margin-bottom: 0px;
    background-color: lightgreen;
    width: 100%;
}
.back button{
    margin-top: 20px;
    margin-left: 5%;
    font-size: 20px;
    width:15%;
    height: 50px;
    border-radius: 10px;
    background-color: lightblue;
    cursor: pointer;
}
.back a{
    text-decoration: none;
}