body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
    /* border-bottom: 2px solid rgb(174, 169, 169);
    padding: 5px; */
    background-color: #FFFDF0;


}

.header{
  position: fixed; /* Add position fixed to fix the header */
  top: 0;
  left: 0;
  width: 80%;
  height: 5%;
  margin-left: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fcfcfd;
    
    
 }
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 10px;
    
    margin: 10px;
    color: rgba(0, 0, 0, 0.156);
}

li a:hover:not(.active) {
   color:rgb(0, 0, 5);
 }

li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}
.notification{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}
.name{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
    font-weight: bold;
}

