.registration-form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    width: 70%;
    margin: 0 auto;
    padding-left: 60px;
    margin-top: 30px;
}
.registration-form input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
}
.registration-form button{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 0.7rem;
    margin-bottom: 20px;
    float:right;
    width:20%;
    background: #29ba29;
    border-radius: 1.5rem;
    align-items: center;
    color: white;
    text-decoration: none;
}


.registration-form button:hover{
    background: #1fb02e;
    /* color:black; */
}
.registration-form h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
}

.err-msg{
    color: #ba3939;
    background: #ffe0e0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}
.success-msg{
    color: green;
    /* font-size: 20px; */
    margin-bottom: 0px;
    /* background-color: lightgreen; */
    width: 100%;
}

.registration-form select{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
    text-align: left;
}