
/* body{
    margin: 0%;
    background-color: #fffdf0;
    font-family: 'Poppins', sans-serif;
} */

.registration-form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;

    width: 70%;

    margin: 0 auto;
    padding-left: 60px;
    margin-top: 30px;
}
.registration-form input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
}
.registration-form button{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    width:90%;
    background: #4E60FF;
    border-radius: 20px;
    align-items: center;
    color: white;
    text-decoration: none;
}

.registration-form button:hover{
    background: #6EDC79;
    color:black;
}
.registration-form h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
}
/* .box{
    padding:12px;
    width:90%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.box1{
    padding:12px;
    width:60%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.box2{
    padding:12px;
    width:80%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
} */
