/* .left {
    left: 0;
    background-color:#CFD7CA;
    width: 20%;
    position: absolute;
    font-family: sans-serif;
  }
  
.right {
    right: 0;
    font-family: sans-serif;
    background-color:#FFFDF0;
    width: 80%;
    position: absolute;
}

.vertical-menu {
    width: 100%;
  }
  
  .vertical-menu a {
    background-color:#CFD7CA;
    color: black;
    display: block;
    padding: 30px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color:#7FD1AE;
    color: white;
  }

  */


button{
<<<<<<< HEAD
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width:8%;
    background-color: #4CAF50;
    color: black;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
=======
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 9%;
  background-color: #0958a7;
  color: white;
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
>>>>>>> 4ebb61c105054ab64a2024b5559971ff371e8458
} 

table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.list{
    margin-left:20px;
}

h3{
    color: #e6321e;
  }

.button1{
    background-color: #815bf6; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    width:20%;
    cursor: pointer;
    
}

.button2{
    background-color: #79d37c; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    width:20%;
    cursor: pointer;
    
}
.button3{
    background-color: #da3a3a; /* Green */
    border: none;
    color:white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 14px;
    width:20%;
    cursor: pointer;
    
}