*{
    font-family: 'Poppins', sans-serif;
 }
body{
    margin: 0%;
    background-color: #fffdf0;
}
.registration-form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border:black 2px solid;
    margin-top: 30px;
    width: 40%;
    margin: 0 auto;
    padding-left: 60px;
    margin-top: 30px;
}
.registration-form input{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
}
.registration-form button{
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    width:90%;
    background: blue;
    border-radius: 20px;
    align-items: center;
}
.registration-form button:hover{
    background: green;
    color:black;
}
.registration-form h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
}
.box{
    padding:12px;
    width:90%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.box1{
    padding:12px;
    width:45%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
.box2{
    padding:12px;
    width:30%;
    border:1px solid black;
    outline: none;
    border-radius: 20PX;
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
#errmsg{
  color: #ba3939;
  background: #ffe0e0;
  width: 90%;
  margin-bottom: 20px;
  font-size: 20px;
}