*{
    font-family: 'Poppins', sans-serif;
 }
.outter{
    width: 100%;
    height: 83.5vh;
}
/* sidebar*/

.container{
    display: flex;
    width: 100%;
    background-color: rgb(137, 126, 122);
    height: 100%;
}
.sidebar{
    width: 20%;
    /* background-color: #391f5a; */
    background-color:#7b7a77;
   
}
.dashboard{
    width: 80%;
    background-color: #FFFDF0;
}
.btn{
    margin-top: 45px;
    margin-left: 5%;
    border-radius: 10px;
    font-size: 36pt;
    display: flex;
    width: 90%;
    height: 10%;
    background-color:white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25%;
}
.Sidebar>div{
    margin-top: 25%;
}
.btn:hover{
    background-color: #B2B6E0;
}
.icon{
    background-color:transparent;
    width: 20%;
    height: 100%;
    
}

.name{
    width: 80%;
    height: 100%;
    display: flex;
}

.name h6{
    margin: auto;
    text-align: center;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.icon img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    mix-blend-mode: multiply;
}
/**/

::-webkit-scrollbar{
    margin-left: 5px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: #c4bec4; 
    border-radius: 10px;
}

/* .social_media{
    background-color:transparent;
    width: 5%;
    height: 100%;
    float: left;
}

.social_media img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    mix-blend-mode: multiply;
}

.sentence{
    
    float: right;
    width: 25%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    display: flex;
}

.sentence>div{
    margin: auto;
}

.profile_name{
    float:right;
    width: 10%;
    height: 100%;
    background-color: transparent;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    justify-content: center;
    display: flex;
}

.profile_name>div{
    margin: auto;
}

.profile_img{
    float:right;
    width: 3%;
    height: 55%;
    background-image: url(images/niru.png);
    border-radius: 50%;
    background-size: contain;
    margin-right: 4%;
    margin-block-start: 15px;

}
.logout{
    display: flex;
    justify-content: center;
    float: right;
    width: 10%;
    height: 100%;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}

.logout>div{
    margin: auto;
}

.logo{
    float:left;
    width: 4%;
    height: 85%;
    background-image: url(images/logo.jpeg);
    border-radius: 50%;
    background-size: contain;
    margin-left: 5%;
    margin-block-start: 5px;
}  */

.fuel_type{
    width: 80%;
    height: 98%;
    margin: auto;
    border: solid #888;
    background-color: #FFFFFF;
   margin-bottom: 10%;
    
}

.fuel_type h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8%;
}

.fuel_type label{
    text-align: right;
    margin-bottom: 36px;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
}

.fuel_type input{
    text-align: right;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 36px;
    width: 380px;
    background: rgb(255, 255, 255);;
    border: 3px solid rgb(84, 73, 116);
}

.fuel_type button{
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    background-color: #c4bec4;
    width: 20%;
    margin-left: 40%;
    
}

.fuel_type #FuelQuantity{
    margin-left: 5px;
}

.fuel_type button:hover{
    background-color: rgb(79, 22, 233);
  
}

.content a:hover{
    background-color: rgb(236, 20, 20);
    color: black;
}

.content a{
    border-radius: 15px;
    background-color: #c4bec4;
    padding: 15px;
    margin-left: 40%;
    margin-top: 10%;
    width: 50%;
    border:  rgb(3, 4, 4);
    text-decoration: none;
}

select {
    background: rgb(255, 255, 255);;
    border: 3px solid rgb(84, 73, 116);
    width: 405px;
    height: 40px;
    font-size: large;
    margin-bottom: 36px;
    text-align: center;
    
  }

.dropdown #fuelType{
    margin-left: 38px;
}
  
.abc{
    margin-top: 5%;
    margin-left: 10%;
}



.fuel_type #FuelQuantity{
    margin-left: 7px;
}

.fuel_type #FuelPrice{
    margin-left: 67px;
}


.content{
    height: 96%;
    width: 100%;
    display: flex;
}

.msg{
    height: 4%;
    width: 100%;
    display: flex;
}
.msg h2{
    margin: auto;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    color: red;
}


